form {
    padding: 20px;
    border: solid grey 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    background-color: rgb(244, 245, 247);
    color: rgb(66, 82, 110);
}

button {
    padding: 10px 5px;
    margin-right: 24px;
    color: rgb(66, 82, 110);
}

.buttons, .field-item {
    width: 100%;
}

.buttons {
    margin: 4px 0 0 40px;
}

@media screen and (max-width: 700px) {
    form {
        padding: 20px;
        border: solid grey 1px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }

    button {
        padding: 10px 5px;
    }
}
